---
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const allPosts = await Astro.glob('./*.md');
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class='text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-4'>Articles</h1>
	<CardContainer filteredPosts={allPosts} />
</BaseLayout>
