---
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const allPosts = await Astro.glob('./*.md');
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class='h1'>Articles</h1>
	<CardContainer filteredPosts={allPosts} />
</BaseLayout>
