---
import { getCollection, type CollectionEntry } from 'astro:content';
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import slugify from '../../scripts/slugify';
import titlefy from '../../scripts/titlefy';

export async function getStaticPaths() {
	const allPosts = await getCollection('posts');
	const authors = new Set();

	allPosts.forEach((post, id) => {
		allPosts[id].data.author = slugify(post.data.author);
		authors.add(allPosts[id].data.author);
	});

	return Array.from(authors).map((one) => {
		return {
			params: { writer: one },
			props: { posts: allPosts }
		};
	});
}

type Props = {
	posts: CollectionEntry<'posts'>[];
};

const { writer } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post) => post.data.author == writer);
---

<BaseLayout pageTitle={titlefy(writer!)}>
	<h1 class='h1'>
		Written by <span class='font-medium'>{titlefy(writer!)}</span>
	</h1>
	<CardContainer {filteredPosts} />
</BaseLayout>
