---
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import slugify from '../../scripts/slugify';
import titlefy from '../../scripts/titlefy';

export async function getStaticPaths() {
	const allPosts = await Astro.glob('./../posts/*.md');
	const authors = new Set();

	allPosts.forEach((post, id) => {
		allPosts[id].frontmatter.author = slugify(post.frontmatter.author);
		authors.add(allPosts[id].frontmatter.author);
	});

	const params = new Array();

	authors.forEach((one) => {
		params.push({ params: { writer: one }, props: { posts: allPosts } });
	});

	return params;
}

const { writer } = Astro.params;
const { posts } = Astro.props;

const filteredPosts: Array<{
	frontmatter: {
		image: string;
		title: string;
		pubDate: string;
		author: string;
		description: string;
		tags: string;
	};
}> = posts.filter(
	(post: {
		frontmatter: {
			image: string;
			title: string;
			pubDate: string;
			author: string;
			description: string;
			tags: string;
		};
	}) => post.frontmatter.author == writer
);
---

<BaseLayout pageTitle={titlefy(writer!)}>
	<h1 class='text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-4'>
		Written by <span class='font-medium'>{titlefy(writer!)}</span>
	</h1>
	<CardContainer {filteredPosts} />
</BaseLayout>
