---
import { getCollection } from 'astro:content';
import CardContainer from '@components/CardContainer.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { slugify, titlefy } from '@scripts';
import type { InferGetStaticParamsType, InferGetStaticPropsType } from 'astro';

export async function getStaticPaths() {
	const allPosts = await getCollection('posts');
	const authors: Set<string> = new Set();

	allPosts.forEach((post, id) => {
		allPosts[id].data.author = slugify(post.data.author);
		authors.add(allPosts[id].data.author);
	});

	return Array.from(authors).map((one) => {
		return {
			params: { writer: one },
			props: { posts: allPosts.filter((post) => post.data.author == one) }
		};
	});
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { writer } = Astro.params as Params;
const { posts } = Astro.props as Props;
---

{
	writer && (
		<BaseLayout pageTitle={titlefy(writer)}>
			<h1 class='h1'>
				Written by <span class='font-medium'>{titlefy(writer)}</span>
			</h1>
			<CardContainer {posts} />
		</BaseLayout>
	)
}
