@font-face {
	font-family: 'DistantGalaxy';
	src: url('/fonts/DistantGalaxy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
