@import '@fontsource-variable/inter';

html,
body {
	display: flex;
	flex-direction: column;
	font-family: 'Inter Variable', sans-serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

header,
footer {
	@apply bg-slate-100;
}

header {
	@apply mt-2 rounded-lg drop-shadow-md;
}

footer {
	@apply mb-2 rounded-lg drop-shadow-md;
}

body,
main {
	@apply bg-slate-200;
}

main {
	@apply mt-5;
}

@media (width <= 640px) {
	.container {
		max-width: 640px;
	}
}

ol {
	@apply list-inside list-decimal;

	& li {
		@apply my-4;

		& ol {
			@apply ml-8 list-inside list-disc;

			& li {
				& ol {
					@apply ml-8 list-inside;
					list-style-type: square;
				}
			}
		}
	}
}

.display {
	@apply text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}

.h1 {
	@apply text-lg xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl;
}

.h2 {
	@apply text-base xs:text-lg sm:text-xl md:text-2xl lg:text-3xl;
}

.h3 {
	@apply text-base sm:text-lg md:text-xl;
}

.text-title {
	@apply h1 mb-4;
}

.text-paragraph {
	@apply text-base;
}

.text-caption {
	@apply text-xs xs:text-sm;
}

.mdx {
	h1 {
		@apply h1;
	}
	h2 {
		@apply h2;
	}
	h3 {
		@apply h3;
	}
}

.mdx :is(h2, h3, h4, h5, h6) {
	@apply mb-4;
}

.mdx :is(h1) {
	@apply mb-1;
}

.mdx :is(p) {
	display: inline;
	word-break: break-word;
	hyphens: auto;
}

.mdx :is(a) {
	@apply text-stone-700 underline hover:line-through;
}

.mdx :is(img) {
	@apply my-4 mx-auto;
}

.space-margin {
	@apply px-3 py-3;
}

.space-items {
	@apply gap-6;
}

.space-cards {
	@apply gap-8 md:gap-6 xl:gap-10;
}

.cardContainer {
	@apply grid lg:grid-cols-2 xl:grid-cols-3;
}

.card {
	@apply grid md:grid-cols-2 lg:grid-cols-1 border-2 border-black rounded;
}
