---
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
	const allPosts = await Astro.glob('./../posts/*.md');
	const categories = new Set();

	allPosts.map((post, id) => {
		post.frontmatter.tags?.forEach((tag: string, num: number) => {
			allPosts[id].frontmatter.tags[num] = tag
				.replaceAll(' ', '-')
				.toLowerCase();
			categories.add(allPosts[id].frontmatter.tags[num]);
		});
	});

	const params = new Array();

	categories.forEach((one) => {
		params.push({ params: { category: one }, props: { posts: allPosts } });
	});

	return params;
}

const { category } = Astro.params;
const { posts } = Astro.props;

const filteredPosts: Array<{
	frontmatter: {
		image: string;
		title: string;
		pubDate: string;
		author: string;
		description: string;
		tags: string;
	};
}> = posts.filter(
	(post: {
		frontmatter: {
			image: string;
			title: string;
			pubDate: string;
			author: string;
			description: string;
			tags: string;
		};
	}) => post.frontmatter.tags?.includes(category as string)
);
---

<BaseLayout pageTitle={'Blog | ' + category!.replaceAll('-', ' ')}>
	<h1 class='text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-4'>
		Posts with <span class='underline decoration-sky-500'
			>{category?.replaceAll('-', ' ')}</span
		>
	</h1>
	<CardContainer {filteredPosts} />
</BaseLayout>
