---
import { getCollection, type CollectionEntry } from 'astro:content';
import CardContainer from '../../components/CardContainer.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { slugify, titlefy } from '../../scripts';

export async function getStaticPaths() {
	const allPosts = await getCollection('posts');
	const categories = new Set();

	allPosts.map((post, id) => {
		post.data.tags?.forEach((tag: string, num: number) => {
			allPosts[id].data.tags[num] = slugify(tag);
			categories.add(allPosts[id].data.tags[num]);
		});
	});

	return Array.from(categories).map((one) => {
		return { params: { category: one }, props: { posts: allPosts } };
	});
}

type Props = {
	posts: CollectionEntry<'posts'>[];
};

const { category } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post) =>
	post.data.tags?.includes(category!)
);
---

{
	category && (
		<BaseLayout pageTitle={'Blog | ' + titlefy(category!)}>
			<h1 class='h1'>
				Posts with{' '}
				<span class='underline decoration-sky-500'>{titlefy(category!)}</span>
			</h1>
			<CardContainer {filteredPosts} />
		</BaseLayout>
	)
}
