---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from './../components/PostCard.astro';
const pageTitle = 'Blog';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
	<ul class='flex flex-col gap-4'>
		<h1 class='text-4xl mb-4'>Articles</h1>
		{allPosts.map((post) => <PostCard {post} />)}
	</ul>
</BaseLayout>
