---
import { getCollection } from 'astro:content';
import CardContainer from '@components/CardContainer.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const posts = await getCollection('posts');
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class='h1'>Articles</h1>
	<CardContainer {posts} />
</BaseLayout>
