---
import { Icon } from 'astro-icon';

const links: Array<{ url: string; title: string }> = [
	{
		url: '/',
		title: 'Home'
	},
	{
		url: '/posts',
		title: 'Blog'
	}
];
---

<nav class='flex justify-between space-margin'>
	<a href='/posts' class='flex justify-center items-center'>
		<Icon name='la:blog' class='mr-2 h-12 w-12' />

		<p class='font-bold h3 p-2 pl-0'>Blog</p>
	</a>
	<ul class='flex space-items items-center'>
		{
			links.map(({ title, url }) => (
				<li>
					<a href={url}>
						<p class='p-2 text-paragraph'>{title}</p>
					</a>
				</li>
			))
		}
	</ul>
</nav>
