---
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class='container mx-auto'>
		<header>
			<nav class='flex justify-between p-4'>
				<a href='/blog' class='flex justify-center items-center'>
					<div class='w-12 h-12 bg-slate-300 mr-2 rounded'></div>
					<p class='font-bold text-lg p-2 pl-0'>Blog</p>
				</a>
				<ul class='flex gap-6 items-center'>
					<li>
						<a href='/'>
							<p class='p-2'>Home</p>
						</a>
					</li>
					<li>
						<a href='/about'>
							<p class='p-2'>About</p>
						</a>
					</li>
					<li>
						<a href='/blog'>
							<p class='p-2'>Blog</p>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class='flex flex-grow flex-col justify-center items-center'>
			<slot />
		</main>
		<footer class='flex justify-center p-4'>
			<p>©sarassaura, 2023. All rights reserved.</p>
		</footer>
	</body>
</html>
