---
import '../styles/global.css';
import Navigation from './../components/Navigation.astro';
import Footer from './../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const { pageTitle } = Astro.props;
import favicon from '../../public/favicon.svg';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href={favicon.src} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel='sitemap' href='/sitemap-index.xml' />
		<ViewTransitions />
	</head>
	<body class='container mx-auto'>
		<header>
			<Navigation />
		</header>
		<main class='flex flex-grow flex-col space-margin'>
			<slot />
		</main>
		<Footer />
	</body>
</html>
